html {
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overscroll-behavior: contain;
	overscroll-behavior-y: contain;

	/* variables */
	--accent-color: #e1d3ba;
}

body {
	margin: 0;
	position: relative;
	min-width: 100svw;
	min-height: 100svh;
	/* overscroll-behavior: contain; */
	/* overscroll-behavior-y: contain; */
	font-family: "Poppins", "Edu VIC WA NT Hand", "Times New Roman", Times, serif;
	scroll-behavior: "smooth";
}

a {
	color: unset;
	text-decoration: unset;
}
a:hover {
	cursor: pointer;
}

h1,
h2,
h3,
h4 {
	/* font-family: "Edu VIC WA NT Hand"; */
	font-family: "Times New Roman";
}
